<%= partial "back", locals: { is_labs: false } %>

<% if current_page.title == 'FontReach' %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "fontreach" %>
    <script src="https://use.typekit.net/mky4ctq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% end %>
<% end %>

<% wrap_layout :layout do %>
  <header class="Header-intro Wrapper">
    <h1><%= current_page.title %></h1>
    <h3><%= current_page.data.summary %></h3>
    
    <ul>
      <% if current_page.data.has_key?('url')  %>
        <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
        <li class="url"><a href="<%= current_page.data.url %>" target="_blank"><%= current_page.data.link_copy %></a></li>
        <li class="article"><a href="#">View Gallery</a></li>
      <% else %>
        <li><a href="#">View Gallery</a></li>
      <% end %>
    </ul>

  </header>
  <section class="Wrapper project">
    <div class="Offset Offset--left">
      <h4>Posted in. Work</h4>
    </div>
    <div class="Offset Offset--right">
      <h4>Posted <%= current_page.date.strftime('%m-%e-%Y') %></h4>
    </div>

    <article>
      <%= yield %>

      <% if current_page.data['tags'].include?('protected') %>  
        <%= partial "protected" %>
      <% end %>
    </article>
  </section>
<% end %>