---
title: About Jesse Chase
---

<%= partial "back", locals: { is_labs: false  } %>

<section class="Wrapper top">
  <div class="headshot"></div>
  <div class="aboutJesse">
    <h2 class="ribbon">Hi, I'm Jesse :<span>}</span></h2>
    <p>I’m a product designer living in New York, NY. I am currently the Creative Director at DigitalOcean, leading the product design & brand design teams. While a happy, well-functioning team is mission-critical, much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.</p>

    <h2 class="ribbon">Jesse is a user advocate</h2>
    <p>I am solutions-focused designer. While designing shiny interfaces is rewarding, designing systems under a series of constraints is my bread n' butter. By designing interfaces that abide by a foundational design system, I am often left with an experience that is intuitive, user-focused, and easy to mantain and build on top of.</p>
  </div>
</section>

<section class="bottom">

  <div class="Maps">

  </div>
  
  <div class="Wrapper">
    
    <header>
      <h2 class="ribbon">Where is Jesse?</h2>
    </header>

    <div class="timeline">
      <ul>
        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Boston, MA</h4>
          <span>2003 - 2008</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>St. Croix USVI</h4>
          <span>2008 - 2009</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Vancouver, BC</h4>
          <span>2010 - 2011</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Philadelphia, PA</h4>
          <span>2011 - 2013</span>
        </li>

        <li class="active">
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>New York, NY</h4>
          <span>2013 - 2016</span>
        </li>
      </ul>
    </div>

    <header>
      <h2 class="ribbon red">Jesse's interests</h2>
    </header>

    <div class="facts">
      <ul>
        <li><h4>Dogs & such</h4><span>Few things bring me such joy as animals do, sadly I don't own a pet.</span></li>
        <li><h4>Philly</h4><span>& South Jersey - a place my family and I will always call home.</span></li>
        <li><h4>Espresso</h4><span>My loyaly lies with Philly-roasted La Colombe. My daily jam: Americano</span></li>
        <li><h4>Barbeque</h4><span>I've taken road trips dedidated to barbeque, aptly named: BBQ tours</span></li>
        <li><h4>Diving</h4><span>Living & diving in the caribbean created a love for the underwater.</span></li>
        <li><h4>Outdoor Exploration</h4><span>While theres always a time for R&R, I prefer outdoor exploration.</span></li>
        <li><h4>Gummy Candy</h4><span>I realize its a problem, but they make me happy, okay?</span></li>
        <li><h4>Photography</h4><span>I don't know what I am doing, but I love artistic photography.</span></li>
        <!-- <li>My favorite emoji is the Party Parrot: <img style="width:21px" src="/assets/images/party-parrot.gif"></li> -->
      </ul>
    </div>
  </div>
</section>