---
title: About Jesse Chase
---

<header class="Header-intro Wrapper">
  <h1>Who is Jesse Chase?</h1>
</header>

<section class="Wrapper flex-center">
  <div class="headshot"></div>
  <div class="aboutJesse">
    <h2 class="ribbon">Hi, I'm Jesse :<span>}</span></h2>
    <p>I’m a product designer living in New York, NY. I am currently the Creative Director at DigitalOcean, leading the product design & brand design teams. While a happy, well-functioning team is mission critical, I spend most of my time thinking through design systems, designing interfaces, and coding deep into the night.</p>

    <h2 class="ribbon">Jesse is a user advocate</h2>
    <p>I am solutions-focused designer. While designing pretty interfaces is rewarding, designing systems under a series of constraints is my bread n' butter. I am extremely excited that we are seeing a global shift towards a more user-focused design appraoch - now design is critical to the success of a product.</p>
  </div>
</section>

<section class="about-bottom">
  <div class="Wrapper flex-center">
    <div class="bottom timeline">
      <h2 class="ribbon">Where is Jesse?</h2>
      <!-- <p>Over hte last decade, Jesse has been building things from across the globe. Where next?</p> -->
      <ul>
        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Boston, MA</h4>
          <span>2003-2008</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>St. Croix USVI</h4>
          <span>2008-2009</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Vancouver, BC</h4>
          <span>2010-2011</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>Philadelphia, PA</h4>
          <span>2011-2013</span>
        </li>

        <li>
          <%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>
          <h4>New York, NY</h4>
          <span>2013-2016</span>
        </li>
      </ul>
    </div>

    <div class="bottom">
      <h2 class="ribbon red">Some interesting things about me</h2>
      <ul class="bullet">
        <li>I really enjoy working on side projects like this one. or this.</li>
        <li>I love dogs. Bigger the better. It’s sad I don’t own one.</li>
        <li>I really like La Columbe coffee. They seriously do it right.</li>
        <li>I hail from Philadelphia, where I used to work for J2 Design</li>
        <li>I’m often found spending money at Best Made. Its nice to live down the street.</li>
        <li>Huge BBQ lover. Especially on a Sunday.</li>
        <li>My favorite emoji is the Party Parrot: <img style="width:21px" src="/assets/images/party-parrot.gif"></li>
      </ul>
    </div>
  </div>
</section>