---
title: The Portfolio of Jesse Chase
blog: work
---


<header class="Header-intro Wrapper">
  <h1>Jesse Chase is a product designer by trade,<br> currently Creative Director at DigitalOcean</h1>
</header>

<section class="Wrapper">
  <h4 class="Offset Offset--left">Featured Work</h4>
  <h4 class="Offset Offset--right">Standard Issue</h4>
  <ul class="ProjectsWrap--featured">
    <% page_articles.select{|a| a.tags.include?("featured")}.each_with_index do |article, i| %>    
      <li class="Project--<%= article.data['color'] %>">
        <% link_to article.url, class: "Link--box" do %>
          <h3><%= article.title %></h3>
          <p><%= article.data['summary'] %></p>
          <ul class="meta">
            <li class="date">
              <span><%= article.date.strftime("%b %Y") %></span>
            </li>
            <span class="Link--faux">
              <%= article.data['link_copy'] %>
            </span>
          </ul>
        <% end %> 
      </li>
    <% end %>
  </ul>
</section>

<%= partial "register", locals: { is_dark_grey: false, is_blue: true, is_green: false  } %>

<section class="Wrapper">
  <h4 class="Offset Offset--left">Selected Work</h4>
  <ul class="ProjectsWrap">
    <% page_articles.each_with_index do |article, i| %>
      <% unless article.data['tags'].include?('featured') %>
        <li class="Project">
          <% link_to article.url, class: "Link--box" do %>
            <div class="bracket topLeft"></div>
            <div class="bracket topRight"></div>
            <div class="bracket bottomRight"></div>
            <div class="bracket bottomLeft"></div>

            <h3><%= article.title %></h3>
            <p><%= article.data['summary'] %></p>
            <ul class="meta">
              <li class="date">
                <span><%= article.date.strftime("%b %Y") %></span>
              </li>
              <li class="view">
                <span class="Link--faux">
                  <%= article.data['link_copy'] %>
                </span>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>