---
title: The Portfolio of Jesse Chase
blog: work
---

<header class="Header-intro">
  <h1>Jesse Chase is a product designer by trade, currently Creative Director at DigitalOcean</h1>
</header>

<section class="Wrapper">
  <h4 class="Offset Offset--left">Featured Work</h4>
  <h4 class="Offset Offset--right">Standard Issue</h4>
  <ul class="ProjectsWrap--featured">
    <% page_articles.select{|a| a.tags.include?("featured")}.each_with_index do |article, i| %>    
      <li class="Project--<%= article.data['color'] %>">
        <h3><%= link_to article.title, article.url %></h3>
        <p><%= article.data['summary'] %></p>
        <ul class="meta">
          <li class="date">
            <span><%= article.date.strftime("%b %Y") %></span>
          </li>
          <li class="view">
            <%= link_to article.data['link_copy'], article.url %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>

<%= partial "register" %>

<section class="Wrapper">
  <h4 class="Offset Offset--left">Selected Work</h4>
  <ul class="ProjectsWrap">
    <% page_articles.each_with_index do |article, i| %>
      <% unless article.data['tags'].include?('featured') %>
        <li class="Project">
          <h3><%= link_to article.title, article.url %></h3>
          <p><%= article.data['summary'] %></p>
          <ul class="meta">
            <li class="date">
              <span><%= article.date.strftime("%b %Y") %></span>
            </li>
            <li class="view">
              <%= link_to article.data['link_copy'], article.url %>
            </li>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<%= partial "register" %>